APP_CONFIG__DB__URL=postgresql+asyncpg://app:app@localhost:5432/app
APP_CONFIG__DB__ECHO=0
APP_CONFIG__AUTH__ACCESS_SECRET_KEY=CHANGE_ME_ACCESS
APP_CONFIG__AUTH__REFRESH_SECRET_KEY=CHANGE_ME_REFRESH
APP_CONFIG__AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
PGDATA=/var/lib/postgresql/data
